table{
    margin-left: 40%;
    margin-top: 2%;
    border: 1px solid black;
}
tr{
    border: 1px solid black;
}
button{
    width: 100px;
    height: 100px;
}
select{
    margin-left: 40%;
    width: 317px;
    height: 40px;
}
p{
    margin-left: 40%;
}